<div class="detail-wrapper" [@detailEnter]="state">
  <header>
    <div class="header-bar-container">
      <svg
        (click)="goBack()"
        class="back-button"
        version="1.1"
        id="Capa_1"
        xmlns="http://www.w3.org/2000/svg"
        xmlns:xlink="http://www.w3.org/1999/xlink"
        x="0px"
        y="0px"
        width="40px"
        height="40px"
        viewBox="0 0 31.494 31.494"
        style="enable-background:new 0 0 31.494 31.494;"
        xml:space="preserve"
      >
        <path
          style="fill:#333333;"
          d="M10.273,5.009c0.444-0.444,1.143-0.444,1.587,0c0.429,0.429,0.429,1.143,0,1.571l-8.047,8.047h26.554
          c0.619,0,1.127,0.492,1.127,1.111c0,0.619-0.508,1.127-1.127,1.127H3.813l8.047,8.032c0.429,0.444,0.429,1.159,0,1.587
          c-0.444,0.444-1.143,0.444-1.587,0l-9.952-9.952c-0.429-0.429-0.429-1.143,0-1.571L10.273,5.009z"
        />
      </svg>
      <h1 class="detail-title">News</h1>
    </div>
  </header>
  <main *ngIf="newsItem">
    <div class="img-container">
      <img [src]="newsItem.thumbnail || newsItem.enclosure.link" />
      <div class="img-caption-container">
        <span class="source-img-caption">{{ newsItem.source }}</span>
        <span class="date-img-caption">{{ newsItem.pubDate | date }}</span>
      </div>
    </div>
    <div class="text-container">
      <h2 class="detail-news-title">{{ newsItem.title }}</h2>
      <p class="detail-news-text">{{ newsItem.description }}</p>
    </div>
    <div class="bottom-button-container">
      <button type="button" class="btn btn-secondary" (click)="goBack()">
        Go Back
      </button>
      <a
        class="btn btn-primary"
        [href]="newsItem.link"
        role="button"
        target="_blank"
        >Keep Reading</a
      >
    </div>
  </main>
</div>
