<h4>Datenschutzerklärung</h4>

<h6>Datenschutz</h6>
<p>
  Die Betreiber dieser Seiten nehmen den Schutz Ihrer persönlichen Daten sehr
  ernst. Wir behandeln Ihre personenbezogenen Daten vertraulich und entsprechend
  der gesetzlichen Datenschutzvorschriften sowie dieser Datenschutzerklärung.
  Die Nutzung unserer Website ist in der Regel ohne Angabe personenbezogener
  Daten möglich. Soweit auf unseren Seiten personenbezogene Daten
  (beispielsweise Name, Anschrift oder E-Mail-Adressen) erhoben werden, erfolgt
  dies, soweit möglich, stets auf freiwilliger Basis. Diese Daten werden ohne
  Ihre ausdrückliche Zustimmung nicht an Dritte weitergegeben. Wir weisen darauf
  hin, dass die Datenübertragung im Internet (z.B. bei der Kommunikation per
  E-Mail) Sicherheitslücken aufweisen kann. Ein lückenloser Schutz der Daten vor
  dem Zugriff durch Dritte ist nicht möglich.
</p>

<h6>Cookies</h6>
<p>
  Die Internetseiten verwenden teilweise so genannte Cookies. Cookies richten
  auf Ihrem Rechner keinen Schaden an und enthalten keine Viren. Cookies dienen
  dazu, unser Angebot nutzerfreundlicher, effektiver und sicherer zu machen.
  Cookies sind kleine Textdateien, die auf Ihrem Rechner abgelegt werden und die
  Ihr Browser speichert. Die meisten der von uns verwendeten Cookies sind so
  genannte „Session-Cookies“. Sie werden nach Ende Ihres Besuchs automatisch
  gelöscht. Andere Cookies bleiben auf Ihrem Endgerät gespeichert, bis Sie diese
  löschen. Diese Cookies ermöglichen es uns, Ihren Browser beim nächsten Besuch
  wiederzuerkennen. Sie können Ihren Browser so einstellen, dass Sie über das
  Setzen von Cookies informiert werden und Cookies nur im Einzelfall erlauben,
  die Annahme von Cookies für bestimmte Fälle oder generell ausschließen sowie
  das automatische Löschen der Cookies beim Schließen des Browser aktivieren.
  Bei der Deaktivierung von Cookies kann die Funktionalität dieser Website
  eingeschränkt sein.
</p>

<h6>Server-Log-Files</h6>
<p>
  Der Provider der Seiten erhebt und speichert automatisch Informationen in so
  genannten Server-Log Files, die Ihr Browser automatisch an uns übermittelt.
  Dies sind: Browsertyp und Browserversion, verwendetes Betriebssystem, Referrer
  URL, Hostname des zugreifenden Rechners, Uhrzeit der Serveranfrage. Diese
  Daten sind nicht bestimmten Personen zuordenbar. Eine Zusammenführung dieser
  Daten mit anderen Datenquellen wird nicht vorgenommen. Wir behalten uns vor,
  diese Daten nachträglich zu prüfen, wenn uns konkrete Anhaltspunkte für eine
  rechtswidrige Nutzung bekannt werden.
</p>

<h6>Netlify</h6>
<p>
  Wir verwenden die Dienste von Netlify Inc. (“Netlify”). Indem du uns
  personenbezogene Daten zur Verfügung stellst, erklärst du dich freiwillig mit
  der Erhebung, Verwendung und Offenlegung solcher personenbezogenen Daten an
  Netlify einverstanden. Netlify gibt deine persönlichen Daten nur an Dritte
  weiter, sofern dies für die Bereitstellung eines bestimmten Dienstes
  erforderlich und im Einklang mit unseren Datenschutzbestimmungen ist. Deine
  persönlichen Daten werden von Netlify verwendet, um Dienste für Dich
  bereitzustellen und die Qualität der Webseite und der Dienste kontinuierlich
  zu verbessern, die Website und Dienste effektiver nutzen zu können, um
  Serviceniveaus zu bewerten sowie Verkehrsmuster zu überwachen und die
  Beliebtheit verschiedener Serviceoptionen zu messen. Netlify verwendet
  Cookies, um die Beliebtheit von Serviceangeboten zu messen. Netlify wird diese
  Informationen nutzen, um sicherzustellen, dass Besucher stets dieselbe Website
  sehen, wenn sie zur entsprechenden Web-URL zurückkehren. Ferner wird die
  Anzahl der klickenden Besucher auf unserer Website erhoben. Weiterführende
  Informationen zu der Datenschutzrichtlinie von “Netlify” findest du unter
  <a href="https://www.netlify.com/privacy/">https://www.netlify.com/privacy/</a
  >.
</p>

<h6>Browser Plugin</h6>
<p>
  Sie können die Speicherung der Cookies durch eine entsprechende Einstellung
  Ihrer Browser-Software verhindern; wir weisen Sie jedoch darauf hin, dass Sie
  in diesem Fall gegebenenfalls nicht sämtliche Funktionen dieser Website
  vollumfänglich werden nutzen können. Sie können darüber hinaus die Erfassung
  der durch den Cookie erzeugten und auf Ihre Nutzung der Website bezogenen
  Daten (inkl. Ihrer IP-Adresse) an Google sowie die Verarbeitung dieser Daten
  durch Google verhindern, indem Sie das unter dem folgenden Link verfügbare
  Browser-Plugin herunterladen und installieren:
  <a href="https://tools.google.com/dlpage/gaoptout?hl=de"
    >https://tools.google.com/dlpage/gaoptout?hl=de</a
  >
</p>

<h6>SSL-Verschlüsselung</h6>
<p>
  Diese Seite nutzt aus Gründen der Sicherheit und zum Schutz der Übertragung
  vertraulicher Inhalte, wie zum Beispiel der Anfragen, die Sie an uns als
  Seitenbetreiber senden, eine SSL-Verschlüsselung. Eine verschlüsselte
  Verbindung erkennen Sie daran, dass die Adresszeile des Browsers von "http://"
  auf "https://" wechselt und an dem Schloss-Symbol in Ihrer Browserzeile. Wenn
  die SSL Verschlüsselung aktiviert ist, können die Daten, die Sie an uns
  übermitteln, nicht von Dritten mitgelesen werden.
</p>

<h6>Recht auf Auskunft, Löschung, Sperrung</h6>
<p>
  Sie haben jederzeit das Recht auf unentgeltliche Auskunft über Ihre
  gespeicherten personenbezogenen Daten, deren Herkunft und Empfänger und den
  Zweck der Datenverarbeitung sowie ein Recht auf Berichtigung, Sperrung oder
  Löschung dieser Daten. Hierzu sowie zu weiteren Fragen zum Thema
  personenbezogene Daten können Sie sich jederzeit unter der im Impressum
  angegebenen Adresse an uns wenden.
</p>

<h6>Widerspruch Werbe-Mails</h6>
<p>
  Der Nutzung von im Rahmen der Impressumspflicht veröffentlichten Kontaktdaten
  zur Übersendung von nicht ausdrücklich angeforderter Werbung und
  Informationsmaterialien wird hiermit widersprochen. Die Betreiber der Seiten
  behalten sich ausdrücklich rechtliche Schritte im Falle der unverlangten
  Zusendung von Werbeinformationen, etwa durch Spam-E-Mails, vor.
</p>
