.card-container:hover {
  transform: scale(1.05);
  transition: 100ms;
}

.card-container {
  margin-bottom: 16px;
  padding: 16px;
  cursor: pointer;
  background-repeat: no-repeat !important;
  background-position: center !important;
  background-size: cover !important;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 16px;
  .source {
    font-weight: 700;
  }

  .source-with-padding {
    padding-top: 50px;
  }
}

p {
  color: #f2f2f2;
}
