<header>
  <div class="title-profile-container">
    <h1>News</h1>
    <div class="profile-icon"></div>
  </div>
  <div class="category-container">
    <div ngbDropdown class="d-inline-block">
      <button class="btn" id="categoryDropdown" ngbDropdownToggle>
        Category: {{ newsService.selectedCategory.value }}
      </button>
      <div ngbDropdownMenu aria-labelledby="categoryDropdown">
        <button
          *ngFor="let category of categories"
          (click)="selectCategory(category)"
          ngbDropdownItem
        >
          {{ category.value }}
        </button>
      </div>
    </div>
  </div>
</header>
<main>
  <!-- ngfor items and card component -->
  <app-news-card
    *ngFor="let newsItem of newsService.newsItems"
    [newsItem]="newsItem"
    (cardClickEvent)="navigateToDetail($event)"
  ></app-news-card>
</main>

<div>
  Icons made by
  <a href="https://www.flaticon.com/authors/lyolya" title="Lyolya">Lyolya</a>
  from
  <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is
  licensed by
  <a
    href="http://creativecommons.org/licenses/by/3.0/"
    title="Creative Commons BY 3.0"
    target="_blank"
    >CC 3.0 BY</a
  >
</div>
