<svg
  (click)="goBack()"
  class="back-button"
  version="1.1"
  id="Capa_1"
  xmlns="http://www.w3.org/2000/svg"
  xmlns:xlink="http://www.w3.org/1999/xlink"
  x="0px"
  y="0px"
  width="40px"
  height="40px"
  viewBox="0 0 31.494 31.494"
  style="enable-background:new 0 0 31.494 31.494;"
  xml:space="preserve"
>
  <path
    style="fill:#333333;"
    d="M10.273,5.009c0.444-0.444,1.143-0.444,1.587,0c0.429,0.429,0.429,1.143,0,1.571l-8.047,8.047h26.554
          c0.619,0,1.127,0.492,1.127,1.111c0,0.619-0.508,1.127-1.127,1.127H3.813l8.047,8.032c0.429,0.444,0.429,1.159,0,1.587
          c-0.444,0.444-1.143,0.444-1.587,0l-9.952-9.952c-0.429-0.429-0.429-1.143,0-1.571L10.273,5.009z"
  />
</svg>
<h4>Haftungsausschluss</h4>
<p>
  1. Inhalt des Onlineangebotes von RSS Tiles übernimmt keinerlei Gewähr für die
  Aktualität, Korrektheit, Vollständigkeit oder Qualität der bereitgestellten
  Informationen. Haftungsansprüche gegen RSS Tiles, welche sich auf Schäden
  materieller oder ideeller Art beziehen, die durch die Nutzung oder
  Nichtnutzung der dargebotenen Informationen bzw. durch die Nutzung
  fehlerhafter und unvollständiger Informationen verursacht wurden, sind
  grundsätzlich ausgeschlossen, sofern seitens RSS Tiles kein nachweislich
  vorsätzliches oder grob fahrlässiges Verschulden vorliegt. Alle Angebote sind
  freibleibend und unverbindlich. RSS Tiles behält es sich ausdrücklich vor,
  Teile der Seiten oder das gesamte Angebot ohne gesonderte Ankündigung zu
  verändern, zu ergänzen, zu löschen oder die Veröffentlichung zeitweise oder
  endgültig einzustellen.<br />
  2. Verweise und Links<br />
  Bei direkten oder indirekten Verweisen auf fremde Internetseiten (”Links”),
  die außerhalb des Verantwortungsbereiches des Autors liegen, würde eine
  Haftungsverpflichtung ausschließlich in dem Fall in Kraft treten, in dem RSS
  Tiles von den Inhalten Kenntnis hat und es ihm technisch möglich und zumutbar
  wäre, die Nutzung im Falle rechtswidriger Inhalte zu verhindern. RSS Tiles
  erklärt hiermit ausdrücklich, dass zum Zeitpunkt der Linksetzung keine
  illegalen Inhalte auf den zu verlinkenden Seiten erkennbar waren. Auf die
  aktuelle und zukünftige Gestaltung, die Inhalte oder die Urheberschaft der
  gelinkten/verknüpften Seiten hat RSS Tiles keinerlei Einfluss. Deshalb
  distanziert RSS Tiles sich hiermit ausdrücklich von allen Inhalten aller
  gelinkten /verknüpften Seiten, die nach der Linksetzung verändert wurden.
  Diese Feststellung gilt für alle innerhalb des eigenen Internetangebotes
  gesetzten Links und Verweise sowie für Fremdeinträge in von RSS Tiles
  eingerichteten Gästebüchern, Diskussionsforen und Mailinglisten. Für illegale,
  fehlerhafte oder unvollständige Inhalte und insbesondere für Schäden, die aus
  der Nutzung oder Nichtnutzung solcherart dargebotener Informationen entstehen,
  haftet allein der Anbieter der Seite, auf welche verwiesen wurde, nicht
  derjenige, der über Links auf die jeweilige Veröffentlichung lediglich
  verweist.<br />
  3. Urheber- und Kennzeichenrecht<br />
  RSS Tiles ist bestrebt, in allen Publikationen die Urheberrechte der
  verwendeten Grafiken, Tondokumente, Videosequenzen und Texte zu beachten, von
  ihm selbst erstellte Grafiken, Tondokumente, Videosequenzen und Texte zu
  nutzen oder auf lizenzfreie Grafiken, Tondokumente, Videosequenzen und Texte
  zurückzugreifen. Alle innerhalb des Internetangebotes genannten und ggf. durch
  Dritte geschützten Marken- und Warenzeichen unterliegen uneingeschränkt den
  Bestimmungen des jeweils gültigen Kennzeichenrechts und den Besitzrechten der
  jeweiligen eingetragenen Eigentümer. Allein aufgrund der bloßen Nennung ist
  nicht der Schluß zu ziehen, dass Markenzeichen nicht durch Rechte Dritter
  geschützt sind! Das Copyright für veröffentlichte, von RSS Tiles selbst
  erstellte Objekte bleibt allein bei RSS Tiles. Eine Vervielfältigung oder
  Verwendung solcher Grafiken, Tondokumente, Videosequenzen und Texte in anderen
  elektronischen oder gedruckten Publikationen ist ohne ausdrückliche Zustimmung
  von RSS Tiles nicht gestattet.<br />
  4. <a routerLink="privacy">Datenschutz</a><br />
  Sofern innerhalb des Internetangebotes die Möglichkeit zur Eingabe
  persönlicher oder geschäftlicher Daten (Emailadressen, Namen, Anschriften)
  besteht, so erfolgt die Preisgabe dieser Daten seitens des Nutzers auf
  ausdrücklich freiwilliger Basis. Die Inanspruchnahme und Bezahlung aller
  angebotenen Dienste ist - soweit technisch möglich und zumutbar - auch ohne
  Angabe solcher Daten bzw. unter Angabe anonymisierter Daten oder eines
  Pseudonyms gestattet.<br />
  5. Rechtswirksamkeit dieses Haftungsausschlusses<br />
  Dieser Haftungsausschluss ist als Teil des Internetangebotes zu betrachten,
  von dem aus auf diese Seite verwiesen wurde. Sofern Teile oder einzelne
  Formulierungen dieses Textes der geltenden Rechtslage nicht, nicht mehr oder
  nicht vollständig entsprechen sollten, bleiben die übrigen Teile des
  Dokumentes in ihrem Inhalt und ihrer Gültigkeit davon unberührt.
</p>
