/* You can add global styles to this file, and also import other style files */
@import 'node_modules/bootstrap/scss/bootstrap.scss';
* {
  font-family: 'Roboto Mono', monospace;
}

body {
  display: flex;
  margin: 24px;
  color: #333333;
  min-height: calc(100vh - 48px);
  min-width: calc(100vw - 48px);
  max-width: calc(100vw - 48px);
}

h1 {
  font-size: 48px;
  margin: 0;
}

h2 {
  font-size: 18px;
  margin: 0;
}

p {
  margin: 0;
  font-size: 12px;
}
